.encabezado {
    background-color: #C0D0FF;
    text-align: center;
    width: 100%;
    padding: 40px 40px;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;

}

main {
    background: url(imagenes/encriptador.jpg);
    height: 100vh;
    background-size: cover;
}

.titulomensaje,
.tituloresultado {
    color: #FFFFFF;
    text-wrap: wrap;
    margin: 10px 0;
}

.contenedor {
    display: flex;
    width: 100%;
}

.texto,
.resultado {
    flex-grow: 1;
    font-size: 20px;
    margin: 0 0 10px;
    width: 40%;
}

.cajaingreso,
.cajaresultado {
    flex-grow: 1;
    vertical-align: top;
    margin: 0 20px;
    width: 40%;

}

.cajaingreso {
    margin-right: 5%;
}

.cajaresultado {
    margin-left: 5%;
}

.seccionalerta {
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C0D0FF;
    text-align: center;
    color: black;
    font-style: italic;
    border: 5px solid darkblue;
    width: 300px;
    flex-direction: row;
    padding: 10px 10px;
    margin: 0 10px;

}

.imgalerta {
    width: 10%;
}

.advertencia {
    margin: 10px 10px 10px 20px;
    /* arriba derecha abajo izquierda*/
    font-size: small;
}

/*.button {
    position:relative;
    top: 30% ;
    left: 40%;
}*/

.encriptar,
.desencriptar,
.copiar {
    text-align: center;
    display: block;
    position: relative;
    top: 15%;
    left: 40%;
    width: 10%;
    padding: 15px 0;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}


.encriptar:hover,
.desencriptar:hover,
.copiar:hover {
    background: rgb(149, 151, 252);
    transform: scale(1.2);
}

footer {
    width: 100%;
    text-align: center;
    background: #132E82;
    padding: 10px;
    color: #FFFFFF;
    font-size: 13px;
}

.logofooter {
    padding: 10px
}
