.encabezado {
    background-color: rgba(192, 208, 255, 0.5);
    text-align: center;
    width: 100%;
    padding: 40px 40px;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;

}

body {
    background: url(imagenes/encriptador.jpg);
    height: 80vh;
    background-size: cover;
}

.titulomensaje,
.tituloresultado {
    color: #FFFFFF;
    margin: 10px 0;
}

.contenedor {
    display: flex;
    width: 100%;
    justify-content: space-around;
   
}

.texto,
.resultado {
    font-size: 30px;
}

.cajaingreso,
.cajaresultado {
   height: 200px;
   width: 100%;
   font-size: 20px;
   margin: 0 auto;
   font-size: 20px;
   margin-left: 15%;
   margin-right: 15%;
}


.seccionalerta {
    display: flex;
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    width: 300px;
    flex-direction: row;
    padding: 10px 10px;
    margin-left: 13%;
    margin-top: 150px;

}

.imgalerta {
    width: 10%;
    height: 10%;
}

.advertencia {
    margin: 10px 10px 10px 20px;
    /* arriba derecha abajo izquierda*/
    font-size: small;
}

.button {
    text-align: center;
    margin-top: 8%;
}

.encriptar,
.desencriptar{
    text-align: center;
    display: block;
    width: 150px; 
    position: relative;
    top: 15%;
    width: 100%;
    padding: 15px 0;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.copiar {
    text-align: center;
    display: block;
    width: 150px; 
    position: relative;
    top: 30%;
    width: 100%;
    padding: 15px 0;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(0, 0, 66);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.encriptar:hover,
.desencriptar:hover,
.copiar:hover {
    background: rgb(149, 151, 252);
    transform: scale(1.2);
}



footer {
    width: 100%;
    text-align: center;
    background: rgb(19, 46, 130, 0.5);
    padding: 10px;
    color: #FFFFFF;
    font-size: 13px;
}

.logofooter {
    padding: 10px
}
